@media screen and (max-width: 1000px) {
    .logoimg{
        width:50vw ;
        }

        ._2tnu-{
            width: 100%;
     text-align: center;
            flex-direction: column;
            display: flex;
            align-content: center;
        }    
        ._2RZDN  {
            text-align: center;
            width:70%;
            display: flex;
            flex-direction: column;
            margin: auto;
 margin-top: 70vh;
        }  
        
        .po1 {
         
            border-radius: 0%;
            width: 98%;
            margin: 2%;
            padding-bottom: 4%;
            background-color: rgba(0, 0, 0, 0.616);
            color: white;
          }
.services_main{
    display: flex;
    flex-direction: row;
  }
  .services_contain{
    width: 45%;
    text-align: center;
    display: inline;
    padding: 1%;
    background-color: rgba(240, 255, 255, 0.692);
    margin: 1%;
  }
  .faq-page {
    width: 80% !important;
  
  }
  .faq-body{
   width: 65% !important; 

  }
}
@media screen and (max-width: 500px){
    .services_main{
        display: flex;
        flex-direction: column;
      }
      .services_contain{
        width: 90%;
        text-align: center;
        display: inline;
        padding: 5%;
        background-color: rgba(240, 255, 255, 0.692);
        margin: 1%;
      } 
      .faq-page {
        width: 90% !important;
      
      }
      .faq-body{
       width: 80% !important;
      }
      .fa-facebook , .fa-instagram , .fa-twitter{
        font-size: 100% !important;

      }
      .frtn{
        text-align: center;
        font-size: 80%;
      }
      ._2RZDN  {
        text-align: center;
        width:90%;
        display: flex;
        flex-direction: column;
        margin: auto;
margin-top: 70vh;
    } 
  .overlay-text {
width: 75%;
  } 
}